
@keyframes videoPopup {
    0%{opacity: 100%; z-index: 1;}  
    80%{ opacity: 70%;}
    100%{opacity: 0%; z-index: -1;}
}

@keyframes videoPopupEnd {
    0%{opacity: 100%; z-index: 1;}  
    80%{ opacity: 100%;z-index: 1;}
    100%{opacity: 100%;z-index: 1;}
}

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

:root{
    --white:#fff;
    --black:#000;
    --green:lightseagreen;
    --red:lightcoral;
    --blue:lightblue;
    --yellow:lightyellow;
    --purple:purple;
    --plum:plum;
    --playerColor:blue;
    --computerColor:red;
}

html{
    font-size: 62.5%;
    font-family: Helvetica, Arial , sans-serif;
}

img{
    max-width: 100%;
}

p,a{
    font-size: clamp(1rem,1.5vw,2rem);
}

h1{
    margin: .5vh 0;
    font-size: clamp(2.5rem,2vw,3rem);
    text-align: center;
}

h2{
    font-size: clamp(1.5rem,1.5vw,2rem);
}

h3{
    margin-bottom: 1vh;
 }

 h4{
    font-size: clamp(2rem,1.8vw,2rem);
 }

main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

section{
    background-color: var(--green);
    border: 5px var(--black) groove;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    height: 80vh;
    width:400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

form{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

input[type="radio"]{
    accent-color: var(--red);
}

select{
    border-radius: 15px;
}

label{
    font-size: clamp(.8rem,.6vw,.8rem);
    margin: 1vw 0;
    transform: scale(2);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#startBtn{
    background-color: var(--purple);
    color: var(--white);
    padding: 50px 100px;
    border-radius: 15px;
    margin-bottom: 0.5vw;
    cursor: pointer;
}

#startBtn:hover{
    color: var(--black);
    background-color: var(--plum);
}

.computerTextOutput{
    font-size: clamp(1.5rem,1.2vw,2rem);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background-color: var(--white);
    border-radius: 15px;
    padding: 5px 10px;
    opacity: 80%;
}

.mid-points{
    height: 100%;
    width: 100%;
    background: var(--red) url("./img/rules.png") center no-repeat;
    background-size: contain;
    position: relative;   
}

.video-container{
    position: absolute;
    top: 25%;
    left: 25%;
    width: 200px;
    height: 160px;
    background: url("") no-repeat center;
    background-size: cover;
    opacity: 0%;
    z-index: -1;
}

.start-animation{
    animation:videoPopup 2s linear;
}

.end-animation{
    animation:videoPopupEnd 2s linear infinite;
}

.mid-content{
    text-align: center;
    margin: 1vh 0;
}

.mid-content p{
    font-size: clamp(2rem,1.5vw,2rem);
}

.points{
    display: flex;
    justify-content: space-between;
}

.points > div{
    padding-top: .5vh;
    display: flex;
    align-items: center;
    flex-direction:column;
}

.points p{
    display: inline-block;
    padding: 0 .5vw;
}

#player-board{
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    padding: .5vw;
    visibility: hidden;
}

.pointsPlayer{
    color: var(--playerColor);
    font-size: clamp(4rem,4vw,6rem);
}

.pointsComputer{
    color:var(--computerColor);
    font-size: clamp(4rem,4vw,6rem);
}

.cardLeft,
.cardRight,
.cardThree,
.cardFour,
.cardFive,
.card{
    background-color: var(--blue);
    border:1px solid var(--black);
    border-radius: 15px;
    width:30%;
    height:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight: 900;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    cursor: pointer;
    padding: 5px;
}

.card{
    width:50px;
    height: 50px;
}

.cardLeft img,
.cardRight img,
.cardThree img,
.cardFour img,
.cardFive img{
    width: 70%;
    margin-bottom: 1vh;
}

.card img{
    width: 70%;
}

.cardLeft:hover,
.cardRight:hover,
.cardThree:hover,
.cardFour:hover,
.cardFive:hover,
.card:hover{
    background-color: var(--yellow);
}

#infoBtn{
    color: var(--purple);
    padding: 1vw;
    text-decoration: none;
}

#infoBtn:hover{
    color:var(--yellow);
}

/* ####### Modal Content ######## */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 60%;
    padding: 5vw 5vw;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;  }

  .modal-content a{
    display: block;
    margin-bottom: 0.5vw;
  }
  
  /* The Close Button */
  #close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }